
<p>
    <i>English Descriptin is not ready yet. Please choose Russian Translation if it helps</i>
</p>

<p>
    <strong>Input: </strong> Two strings. 
</p>

<p>
    <strong>Output: </strong> Int or {% if interpreter.slug == "js-node" %}undefined{% else %}None{% endif %}
</p>



<div class="for_info_only">
    <p>
        <strong>Example:</strong>
    </p>

{% if interpreter.slug == "js-node" %}
<pre class="brush: javascript">secondIndex("sims", "s") == 3
secondIndex("find the river", "e") == 12
secondIndex("hi", " ") is None
</pre>
{% else %}
<pre class="brush: python">second_index("sims", "s") == 3
second_index("find the river", "e") == 12
second_index("hi", " ") is None
</pre>
{% endif %}
</div>

